<section class="header-bottom">
    <div class="header-bottom__item" style="background-image: url('./dist/assets/img/icon/h1.svg')">
        <h3 class="header-bottom__title">Фіксований кошторис</h3>
    </div>
    <div class="header-bottom__item" style="background-image: url('./dist/assets/img/icon/h2.svg')">
        <h3 class="header-bottom__title">Працюємо без авансів</h3>
    </div>
    <div class="header-bottom__item" style="background-image: url('./dist/assets/img/icon/h3.svg')">
        <h3 class="header-bottom__title">Щотижнева звітність робочого процесу</h3>
    </div>
    <div class="header-bottom__item" style="background-image: url('./dist/assets/img/icon/h4.svg')">
        <h3 class="header-bottom__title">Здача роботи у зазначені терміни</h3>
    </div>
    <div class="header-bottom__item" style="background-image: url('./dist/assets/img/icon/h5.svg')">
        <h3 class="header-bottom__title">Гарантія на роботи</h3>
    </div>
</section>    