<section class="header-title__wrap">
    <h1 class="header-title__title">Lorem ipsum dolor sit amet, consectetur </br> adipiscing elit.</h1>
    <p class="header-title__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam condimentum eros arcu, at aliquet tortor vestibulum ut. Quisque sed libero nec nulla pulvinar pharetra. Aliquam porttitor justo lorem, at rhoncus nulla condimentum vitae. Cras vitae aliquet quam.</p>
    <a class="header-title__btn" href="#">Залишити заявку</a>
</section>    