<section class="top-nav__wrap">
    <div class="top-nav">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid d-flex justify-content-between">
                <!-- <div class="container-fluid d-flex flex-row justify-content-between"> -->
                <!-- <div class=""> -->
                    <a class="top-nav__logo navbar-brand" href="#">LOGO</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button> 
                    <div class="navbar-nav__ul-wrap collapse navbar-collapse" id="navbarScroll">
                        <ul class="navbar-nav__ul navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#">Про нас</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Відгуки</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Ціни</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Наші роботи</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Контакти</a>
                            </li>
                        </ul>
                    </div>
                    <a class="nav-link__tel nav-link" href="#">Замовити дзвінок</a>
                <!-- </div> -->
            </div>
        </nav>    
    </div>
</section>