<section class="top-bar__wrap">
    <div class="top-bar">
        <div class="top-bar__tel-wrap">
            <a class="top-bar__tel" href="tel:+380674673767">+38 (067) 467-37-67</a>
            <a class="top-bar__tel" href="tel:+380674673767">+38 (067) 467-37-67</a>
        </div>
        <div class="top-bar__icon-wrap">
            <a class="top-bar__icon-link" href="#"><img src="./dist/assets/img/icon/ln.svg" alt='ln' /></a>        
            <a class="top-bar__icon-link" href="#"><img src="./dist/assets/img/icon/fb.svg" alt='fb' /></a>        
            <a class="top-bar__icon-link" href="#"><img src="./dist/assets/img/icon/in.svg" alt='in' /></a>        
        </div>
    </div>
</section> 