<section class="work__wrap">
    <h6 class="work__subtitle">етапи роботи</h6>
    <h2 class="work__title">Як ми працюємо?</h2>
    <div class='work__timeline-wrap'>
        <div class='work__timeline-item'>Виїзд майстра на обєкт для замірів
            <div class="chart x-20">
                <p>1</p>
            </div>
        </div>
        <div class='work__timeline-item'>Складання кошторису згідно попередніх домовлень
            <div class="chart x-40">
                <p>2</p>
            </div>
        </div>
        <div class='work__timeline-item'>Підписання договору
            <div class="chart x-60">
                <p>3</p>
            </div>
        </div>
        <div class='work__timeline-item'>Закупівля матеріалу
            <div class="chart x-80">
                <p>4</p>
            </div>
        </div>
        <div class='work__timeline-item'>Вчасна здача проекту
            <div class="chart x-90">
                <p>5</p>
            </div>
        </div>
        <div class='work__timeline-item'>Щасливі замовники
            <div class="chart x-100">
                <p>6</p>
            </div>
        </div>
    </div>
</section>      