<!-- <main class="main" style="background-image: url('assets/img/icon/Vector2.svg');">
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <img class="main__img" src="assets/img/Group11.jpg" alt="group"/>
            <a href="#" class="main__title">Lounge</a>
          </div>
          <div class="col-sm">
            <img class="main__img" src="assets/img/Group12.jpg" alt="group"/>
            <a href="#" class="main__title">Bedroom</a>
          </div>
          <div class="col-sm">
            <img class="main__img" src="assets/img/Group13.jpg" alt="group"/>
            <a href="#" class="main__title">Dinning</a>
          </div>
          <div class="col-sm">
            <img class="main__img" src="assets/img/Group14.jpg" alt="group"/>
            <a href="#" class="main__title">Office</a>
          </div>
          <div class="col-sm">
            <img class="main__img" src="assets/img/Group15.jpg" alt="group"/>
            <a href="#" class="main__title">Acsessories</a>
          </div>
          <div class="col-sm">
            <img class="main__img" src="assets/img/Group16.jpg" alt="group"/>
            <a href="#" class="main__title">Custom furniture</a>
          </div>
        </div>
      </div>
      <div class="container main__description">
        <div class="row">
          <div class="col-sm-6 col-md-3">
            <div class="main__description-title">Established</div>
            <div class="main__description-number">1982</div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="main__description-number">3000</div>
            <div class="main__description-title">Happy customers</div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="main__description-number">3000</div>
            <div class="main__description-title">Happy customers</div>
          </div>
          <div class="col-sm-6 col-md-3"> 
            <div class="main__description-title">Established</div>
            <div class="main__description-number">1982</div>
          </div>
        </div>
      </div>
</main>   -->