<!-- <section class="products">
    <h3 class="products__title">Featured products</h3> 

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">

          <div class="carousel-item active">
            <div class="carousel-item__wrap">
                <div class='carousel-item__el-wrap'>
                    <div class='carousel-item__img-wrap'>
                        <img src="assets/img/products/image1.png" class="d-block w-100" alt="..." />
                    </div>
                    <h5 class='carousel-item__title'>Mosse</h5>
                    <p class='carousel-item__text'>Lounge</p>
                </div>
                <div class='carousel-item__el-wrap'>
                    <div class='carousel-item__img-wrap'>
                        <img src="assets/img/products/image2.png" class="d-block w-100" alt="...">
                    </div>
                    <h5 class='carousel-item__title'>Rotating Blu-ray and DVD Racks</h5>
                    <p class='carousel-item__text'>Lounge</p>
                </div>
                <div class='carousel-item__el-wrap'>
                    <div class='carousel-item__img-wrap'>
                        <img src="assets/img/products/image.png" class="d-block w-100" alt="...">
                    </div>
                    <h5 class='carousel-item__title'>Aspen sofa table</h5>
                    <p class='carousel-item__text'>Lounge</p>
                </div>
                <div class='carousel-item__el-wrap'>
                    <div class='carousel-item__img-wrap'>
                        <img src="assets/img/products/image5.png" class="d-block w-100" alt="...">
                    </div>
                    <h5 class='carousel-item__title'>Mondi chair</h5>
                    <p class='carousel-item__text'>Lounge</p>
                </div>
                <div class='carousel-item__el-wrap'>
                    <div class='carousel-item__img-wrap'>
                        <img src="assets/img/products/image3.png" class="d-block w-100" alt="...">
                    </div>
                    <h5 class='carousel-item__title'>Mosse dinning chair</h5>
                    <p class='carousel-item__text'>Dinning</p>
                </div>
                <div class='carousel-item__el-wrap'>
                    <div class='carousel-item__img-wrap'>
                        <img src="assets/img/products/image4.png" class="d-block w-100" alt="...">
                    </div>
                    <h5 class='carousel-item__title'>Rotating</h5>
                    <p class='carousel-item__text'>Lounge</p>
                </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-item__wrap">
                <div class='carousel-item__el-wrap'>
                    <div class='carousel-item__img-wrap'>
                        <img src="assets/img/products/image1.png" class="d-block w-100" alt="..." />
                    </div>
                    <h5 class='carousel-item__title'>Mosse</h5>
                    <p class='carousel-item__text'>Lounge</p>
                </div>
                <div class='carousel-item__el-wrap'>
                    <div class='carousel-item__img-wrap'>
                        <img src="assets/img/products/image2.png" class="d-block w-100" alt="...">
                    </div>
                    <h5 class='carousel-item__title'>Rotating Blu-ray and DVD Racks</h5>
                    <p class='carousel-item__text'>Lounge</p>
                </div>
                <div class='carousel-item__el-wrap'>
                    <div class='carousel-item__img-wrap'>
                        <img src="assets/img/products/image.png" class="d-block w-100" alt="...">
                    </div>
                    <h5 class='carousel-item__title'>Aspen sofa table</h5>
                    <p class='carousel-item__text'>Lounge</p>
                </div>
                <div class='carousel-item__el-wrap'>
                    <div class='carousel-item__img-wrap'>
                        <img src="assets/img/products/image5.png" class="d-block w-100" alt="...">
                    </div>
                    <h5 class='carousel-item__title'>Mondi chair</h5>
                    <p class='carousel-item__text'>Lounge</p>
                </div>
                <div class='carousel-item__el-wrap'>
                    <div class='carousel-item__img-wrap'>
                        <img src="assets/img/products/image3.png" class="d-block w-100" alt="...">
                    </div>
                    <h5 class='carousel-item__title'>Mosse dinning chair</h5>
                    <p class='carousel-item__text'>Dinning</p>
                </div>
                <div class='carousel-item__el-wrap'>
                    <div class='carousel-item__img-wrap'>
                        <img src="assets/img/products/image4.png" class="d-block w-100" alt="...">
                    </div>
                    <h5 class='carousel-item__title'>Rotating</h5>
                    <p class='carousel-item__text'>Lounge</p>
                </div>
            </div>
          </div>
          
          <div class="carousel-item">
            <div class="carousel-item__wrap">
                <div class='carousel-item__el-wrap'>
                    <div class='carousel-item__img-wrap'>
                        <img src="assets/img/products/image1.png" class="d-block w-100" alt="..." />
                    </div>
                    <h5 class='carousel-item__title'>Mosse</h5>
                    <p class='carousel-item__text'>Lounge</p>
                </div>
                <div class='carousel-item__el-wrap'>
                    <div class='carousel-item__img-wrap'>
                        <img src="assets/img/products/image2.png" class="d-block w-100" alt="...">
                    </div>
                    <h5 class='carousel-item__title'>Rotating Blu-ray and DVD Racks</h5>
                    <p class='carousel-item__text'>Lounge</p>
                </div>
                <div class='carousel-item__el-wrap'>
                    <div class='carousel-item__img-wrap'>
                        <img src="assets/img/products/image.png" class="d-block w-100" alt="...">
                    </div>
                    <h5 class='carousel-item__title'>Aspen sofa table</h5>
                    <p class='carousel-item__text'>Lounge</p>
                </div>
                <div class='carousel-item__el-wrap'>
                    <div class='carousel-item__img-wrap'>
                        <img src="assets/img/products/image5.png" class="d-block w-100" alt="...">
                    </div>
                    <h5 class='carousel-item__title'>Mondi chair</h5>
                    <p class='carousel-item__text'>Lounge</p>
                </div>
                <div class='carousel-item__el-wrap'>
                    <div class='carousel-item__img-wrap'>
                        <img src="assets/img/products/image3.png" class="d-block w-100" alt="...">
                    </div>
                    <h5 class='carousel-item__title'>Mosse dinning chair</h5>
                    <p class='carousel-item__text'>Dinning</p>
                </div>
                <div class='carousel-item__el-wrap'>
                    <div class='carousel-item__img-wrap'>
                        <img src="assets/img/products/image4.png" class="d-block w-100" alt="...">
                    </div>
                    <h5 class='carousel-item__title'>Rotating</h5>
                    <p class='carousel-item__text'>Lounge</p>
                </div>
            </div>
          </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev">
          <img src="assets/img/icon/arrowC.svg" alt="..." aria-hidden="true" />
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next">
          <img src="assets/img/icon/arrowC2.svg" alt="..." aria-hidden="true" />
        </button> 

        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active dote" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="dote" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="dote" aria-label="Slide 3"></button>
          </div>

    </div>
    
</section> -->