<section class="portfolio">
    <h2 class="portfolio__subtitle">портфоліо</h2>
    <p class="portfolio__title">Наші роботи</p>
    <div class="portfolio__content">
        <h3 class="portfolio__content-title">Назва проекта</h3>
        <p class="portfolio__content-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam condimentum eros arcu, at aliquet tortor vestibulum ut. Quisque sed libero nec nulla pulvinar pharetra. Aliquam porttitor justo lorem, at rhoncus nulla condimentum vitae. Cras vitae aliquet quam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus id quam nulla.</p>
        <p class="portfolio__content-time"><b>Термін ремонта:</b> 21 день</p>
        <p class="portfolio__content-m"><b>Площа:</b> 81 м2</p>
    </div>
    <div class="mySlides__wrap">
      <div class="mySlides__container">
        <div class="mySlides">
          <img src="./dist/assets/img/slider/s2.jpg" style="width:100%">
        </div>
        <div class="mySlides">
          <img src="./dist/assets/img/slider/s3.jpg" style="width:100%">
        </div>
        <div class="mySlides">
          <img src="./dist/assets/img/slider/s4.jpg" style="width:100%">
        </div>
        <div class="min-photo__wrap">
          <div class="column">
            <img class="demo cursor" src="./dist/assets/img/slider/s2.jpg" style="width:100%" onclick="currentSlide(1)" alt="The Woods">
          </div>
          <div class="column">
            <img class="demo cursor" src="./dist/assets/img/slider/s3.jpg" style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">
          </div>
          <div class="column">
            <img class="demo cursor" src="./dist/assets/img/slider/s4.jpg" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
          </div>
        </div>
      </div>
      <div class="mySlides__footer">
        <a class="activef dotef" onclick="currentSlide(1)"></a>
        <a class="dotef" onclick="currentSlide(2)"></a>
        <a class="dotef" onclick="currentSlide(3)"></a>
        <a class="dotef" onclick="currentSlide(1)"></a>
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
      </div> 
    </div>
</section>    