* {
  box-sizing: border-box; 
}
html {
  font-size: 16px;
}  
body { 
  font-family: 'Gilroy';
  background: #fff;
  padding: 0;
  margin: 0;
}  
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}  
